.formContainer{
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 10%;
}

.popupForm{
    width: 600px;
    height: fit-content;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 5px solid #000;
}

.popupForm i{
    display: block;
    position: absolute;
    margin-top: -85px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    outline: 5px solid #000;
    padding: 2px;
    border-radius: 100%;
    cursor: pointer;
}

.popupForm h4, p{
    text-align: left;
    margin-left: 5%;
}

.popupForm p{
    margin-bottom: 3px;
}

.popupForm input[type=text]{
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #0640ff;
    width: 90%;
    font-size: 18px;
    margin-bottom: 15px;
}

.popupForm input[type=submit]{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: 0px 6px 0px 0px #000000;
}

.popupForm input[type=submit]:hover{
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translateY(6px);
}